<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<br/>
<div class="container">
    <h1>Mon panier</h1>
    <br/>
    <br/>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Quantity</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Prix selon quantité</th>
                        <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <% total_price = [] %>
                        <%  @items_in_cart.each do |item| %>
                            <tr>
                            <th scope="row"><%= item.quantity %></th>
                            <td><%= item.item.title %></td>
                            <td><%= add_zero(item.item.price) %>€</td>
                            <td><%= total_item = add_zero(item.item.price*item.quantity.to_d) %>€</td>
                            <% total_price << total_item %>
                            <td><%= button_to "Destroy this item", join_table_items_cart_path(item.id), method: :delete, class: 'btn btn-danger' %>
                            </td>
                        <% end %>
                         <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td></td>
                            <td></td>
                            </tr>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td class="font-weight-bold">Prix total:</td>
                            <td><%= total_price.inject(0){|sum,x| sum + x }%>€</td>
                         </tr>
                    </tbody>
                </table>
                <%= button_to "Payer", checkout_create_path(total: total_price.inject(0){|sum,x| sum + x }), class: "btn btn-primary center-button", data: {turbo: false} %>
            </div>
        </div>
</div>

<%# Ajoutez le prix selon quantité dans l’array vide : « <% total_price << total_item %>
<%# additionne tout les prix présents à l’intérieur et j’affiche le résultat:  » <%= total_price.inject(0){|sum,x| sum + x }%>