<div id="<%= dom_id item %>">

    <strong>Title:</strong>
    <%= item.title %>
    <strong>Description:</strong>
    <%= item.description %>
    <strong>Price:</strong>
    <%= add_zero(item.price) %>
  </p>

  <p>
    <%=image_tag item.image_url%>
  </p>

</div>
