<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>

</div>
<% if user_signed_in? && current_user.role === 'admin' %>
    <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Back to items", items_path %>

    <%= button_to "Destroy this item", @item, method: :delete %>
<%end%>