    <nav class="navbar navbar-expand-lg bg-light mb-5 fs-6 p-2" data-bs-theme="light">
            <div class="container-fluid">
            <a class="navbar-brand fs-5" href="<%= root_path %>">Kittenshop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <div class="">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="<%= root_path %>">Home
                            <span class="visually-hidden">(current)</span>
                            </a>
                        </li>    
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav me-3">
                        <li class="nav-item ">
                          

                        </li>
                        <li class="nav-item dropdown">
                        <% if user_signed_in? %>
                        <%# bouton du panier %>
                          
                         
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Log out</a>
                            
                            <div class="dropdown-menu">
                            
                                <!-- Le contenu à afficher lorsque la session est active -->
                                <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                            
                            <li class="nav-item">
                             <a class="nav-link" href="<%= cart_path(current_user.cart.id) if current_user %>">
                            <i class="fas fa-shopping-cart"></i>
                            <% if @items_in_cart && @items_in_cart.count > 0 %>
                              <% total_items = []
                                  @items_in_cart.each do |item_choosed|
                                      item_quantity = item_choosed.quantity
                                      total_items << item_quantity
                                  end %>
                              <span class="badge badge-pill badge-info"><%= total_items.inject(0){|sum,x| sum + x }%></span>
                            <% else %>
                              <span class="badge badge-pill badge-info">0</span>
                            <% end %>
                          </a>
                          </li>
                            <% else %>
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in / Sign up</a>
                            <div class="dropdown-menu">
                                <!-- Le contenu à afficher lorsque la session n'est pas active -->

                                        <a class="dropdown-item" href="<%= new_user_session_path %>">Log in</a>
                                        <a class="dropdown-item" href="<%=  new_user_registration_path %>">Sign up</a> 

                                                                             
                            <% end %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>

        </nav> 
