<!DOCTYPE html>
<html>
  <head>
    <title>KittenProjectV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <%= link_to "Mon panier", cart_path(current_user.cart.id) if current_user %>
    <%= yield %>
  </body>
</html>
